.git
.gitignore
.vscode
azrelay.json
.azrelay.json
node_modules/
*
*/**
!out/extension.js
!azdebugrelay/*.py
!README.md
!LICENSE
!package.json
!package.nls.json
!README.md
!ThirdPartyNotices.txt
!images/*